<div data-view="day">
    <div data-resource="wood">
        <span>Value: </span><span data-resource-value></span>
        <span>Max: </span><span data-resource-max></span>
    </div>
    <div data-resource="stone">
        <span>Value: </span><span data-resource-value></span>
        <span>Max: </span><span data-resource-max></span>
    </div>
    <div data-resource="iron">
        <span>Value: </span><span data-resource-value></span>
        <span>Max: </span><span data-resource-max></span>
    </div>
</div>
